<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Data Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="table-container">
        <table id="roomData" align="center">
            <tr>
                <th onclick="sortTable(0)">Camera</th>
                <th onclick="sortTable(1)">Temperatura</th>
                <th onclick="sortTable(2)">Umiditate</th>
            </tr>
        </table>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
